/* Các biến dùng chung */
:root {
  /* Colors */
  --primary: #0091ea;
  --primary-light: #7bbde6;
  --accent: #546e7a;
  --grey: #445;
  --error: #f52;
  --background: #f5f5f6;
  --background-accent: #cfe5f2;
  --white: #fff;
  --border: #99a;
  /* Sizes */
  --radius: 10px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-xl: 40px;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: var(--space-md) 0;
}

.login-logo {
  height: 80px;
  vertical-align: middle;
}
.hide-xs {
  display: none;
}
.login-register-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  /* margin: var(--space-md); */
  text-align: center;
  margin-bottom: 30px;
}

.login-title img {
  background-color: var(--primary);
}

section#login-register {
  width: 600px;
  height: 480px;
  background-color: var(--white);
  margin: 0 auto;
  align-self: center;
  display: flex;
  
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-light);
  border-radius: var(--radius);
}

form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#loginForm {
  border-right: 2px solid var(--primary);
}